.main__largeCTA {
    width: 100%;
    height: 40vh;
    max-height: 340px;

    padding: 1rem 17rem;
}

.largeCTA__div {
    overflow: hidden;
    max-width: 1920px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}