.main__miniCTA {
    width: 100%;
    height: 15vh;
    max-height: 145px;
    padding: 1rem 17rem;
}

.miniCTA__div {
    max-width: 1920px;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}