*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */
:root {
    /* FONTS */
    --FF: 'Outfit', sans-serif;
    --FS: 1rem;

    /* COLORS */
    --MP-C: #031117;
    --MS-C: #a2ff00;
    --MT-C: #ff003b;

    --CP-C: #e1e000;
    --CS-C: #5c63c4;
    --CT-C: #00aec7;

    --GRAY-C: #606060;

    /* BORDER */
    --CARDS-BORDER-RADIUS: 15px
}

/* @media (prefers-color-scheme: dark) {
    :root {
    --FF: 'Outfit', sans-serif;
    }
} */

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselectable {
    user-select: none;
}

.seperator {
    width: 2px;
    height: 80%;
    background-color: var(--GRAY-C);
    border-radius: 5px;
}

/* GENERAL STYLES */
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    font-weight: 100;
    
}

body {
    min-height: 100vh;
    background-color: var(--MP-C-D);
}

.main {
}

.header {
}

/* -----heading general styles ------- */

p {
    line-height: 1.5;
}

a:any-link {
    color: black;
}

a:hover,
a:focus-visible {
    color: var(--MT-C);
}

a:active {
    color: orange;
}