{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/forgetPassword.css" %}">
<title>Game Zone - Forgot Password</title>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock head %}

{% block main %}

<section>
    <div class="logo">
        <img src="{% static "assets/logo/logo_white.png" %}" alt="">
    </div>
    <div class="form-box">
        <div class="form-value">
            <form method="POST">
                {% csrf_token %}
                <h2>Forgot Password</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {{form.email}}
                </div>
                <input class='inputSubmit' type="submit" value="Reset Password"></input>
                <div class="login">
                    <p>Remembered your password? <a href="{% url "login" %}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</section>



{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}
<script src="{% static "js/forgetPassword.js" %}"></script>
{% endblock scripts %}