{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/newPassword.css" %}">
{% endblock head %}

{% block title %}
<title>Reset Password</title>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock title %}

{% block header %}

{% endblock header %}

{% block main %}
<div class="main">
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post">
                    {% csrf_token %}
                    <h2>Reset Password</h2>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.new_password1 }}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.new_password2 }}
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock main %}

{% block footer %}{% endblock footer %}

{% block scripts %}{% endblock scripts %}