{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static "styles/profile.css" %}">
{% endblock head %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block header %}
    {% include 'components/navigation.html' %}
{% endblock header %}

{% block main %}
<div class="container">
    <div class="sidebar">
        <ul>
            <li onclick="showContent('profile')" class="tab active-tab"><i class="fa-solid fa-user"></i> Profile</li>
            <li onclick="showContent('orders')" class="tab"><i class="fa-solid fa-boxes-stacked"></i> Orders</li> <!-- Changed from my-orders to orders -->
            <li onclick="showContent('receipts')" class="tab"><i class="fa-solid fa-receipt"></i> Receipts</li>
            <li onclick="showContent('addresses')" class="tab"><i class="fa-solid fa-location-dot"></i> Addresses</li>
        </ul>
    </div>
    <div class="content">
        <div class="profile active">
            <h1>Profile</h1>
            <form id='profile-form' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profileForm.as_div }}
                <button id="save-button" type="submit">Save Changes</button>
            </form>
        </div>
        <div class="orders" id='orders'> <!-- Changed from my-orders to orders -->
            <h1>Orders</h1>
            <ul>
                {% if orders %}
                {% for order in orders %}
                        <li>
                            <div class="order-box">
                                <img src="{% static "assets\qr-code-scan.png" %}" alt="Order Pic">
                                <div class="order-details">
                                    <p>Order ID: <span>{{ order.id }}</span></p>
                                    <p>Total Price: <span>${{ order.calculate_total_price }}</span></p>
                                    <p>Order Date: <span>{{ order.created_at }}</span></p>
                                    {% if order.status == 'pending' %}
                                    <p>Status: <span class="pending">Pending</span></p><br>
                                {% elif order.status == 'completed' %}
                                    <p>Status: <span class="completed">Completed</span></p><br>
                                {% else %}
                                    <p>Status: <spand class="cancelled">Cancelled</span></p><br>
                                {% endif %}
                                </div>
                            </div>
                            <div class="order-items">
                                {% for item in order.orderitem_set.all %}
                                <p>{{ item.quantity }} x {{ item.product.title }}</p>
                                {% endfor %}
                                <p>PlayStation 5 Slim x 1</p>
                            </div>
                            {% if order.status == 'pending' %}
                                <div class="order-cancel">
                                    <button data-orderId="{{order.id}}" class="cancel-button">Cancel</button>
                                </div>
                            {% endif %}
                        </li>
                    <hr>
                    {% endfor %}

                {% else %}
                Nothing
                {% endif %}

            </ul>
        </div>
        <div class="receipts">
            <h1>Receipts</h1>
            <ul>
                {% for receipt in receipts %}
                    <li>Receipt ID: {{ receipt.id }}, User: {{ receipt.user }}, Date: {{ receipt.created_at }}</li>
                    <!-- Display other receipt details as needed -->
                {% endfor %}
            </ul>
        </div>
        <div class="addresses">
            <h1>Address Book</h1>
            <div class="addresses-container">
                <div class="address add-address">
                    <i class="fa-solid fa-plus"></i>
                    <h2>Add a new delivary address</h2>
                </div>
                <div class="address">
                    <p>
                        30 Rue Menzel Abderrahmane, Kram Ouest 2089, Tunis, Tunisia
                    </p>
                    <p>{{ user.profile.secondary_address }}</p>
                    <button class="edit-address-button">Edit</button>
                </div>
            </div>
            <div class="add-address-container">
                <h1>Add a new address</h1>
                <form>
                    <div>
                        <label for="address">Address</label>
                        <input type="text" placeholder="Address Line 1">
                        <input type="text" placeholder="Address Line 2">
                        <div class="city-state-zip">
                            <div>
                            <label for="city">City</label>
                            <input type="text" placeholder="City">
                            </div>
                            <div>
                            <label for="state">State</label>
                            <input type="text" placeholder="State">
                            </div>
                            <div>
                            <label for="zip">Zip Code</label>
                            <input type="text" placeholder="Zip Code">
                            </div>
                        </div>
                        <label for="country">Country</label>
                        <input type="text" placeholder="Country">
                        <button class="add-address-button">Add Address</button>
                    </div>
                </form>
            </div>
            <div class="edit-address-container">
                <h1>Edit address</h1>
                <form>
                    <div>
                        <label for="address">Address</label>
                        <input type="text" placeholder="Address Line 1">
                        <input type="text" placeholder="Address Line 2">
                        <div class="city-state-zip">
                            <div>
                            <label for="city">City</label>
                            <input type="text" placeholder="City">
                            </div>
                            <div>
                            <label for="state">State</label>
                            <input type="text" placeholder="State">
                            </div>
                            <div>
                            <label for="zip">Zip Code</label>
                            <input type="text" placeholder="Zip Code">
                            </div>
                        </div>
                        <label for="country">Country</label>
                        <input type="text" placeholder="Country">
                        <button class="add-address-button">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock main %}

{% block footer %}

{% endblock footer %}

{% block scripts %}
<script>
        function showContent(contentName) {
            var contents = document.querySelectorAll('.content > div');
            var selectedTab = document.querySelector('.tab');
            for (var i = 0; i < contents.length; i++) {
                contents[i].classList.remove('active');
            }
            var selectedContent = document.querySelector('.' + contentName);
            document.addEventListener("click", function (event) {
                if (event.target.classList.contains('tab')) {
                    selectedTab.classList.remove('active-tab');
                    selectedTab = event.target;
                    selectedTab.classList.add('active-tab');
                }
            });
            selectedContent.classList.add('active');
        }

        if ("{{val}}" != "None") {
            showContent("{{val}}");
        }
    const form = document.querySelector("#profile-form");
    const submitButton = form.querySelector("#save-button");
  
    submitButton.addEventListener("click", function (event) {
      event.preventDefault();
  
      const formData = new FormData(form);
  
      $.ajax({
          type: 'POST',
          url: '/update-profile/',
          data: formData,
          processData: false,
          contentType: false,
          beforeSend: function (xhr, settings) {
              xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
          },
          success: function (response) {
              console.log(response)
          },
          error: function (error) {
              console.error('Error filtering products:', error);
          }
      });
    });




    document.addEventListener("DOMContentLoaded", function() {
        const cancelButtons = document.querySelectorAll(".cancel-button");
        console.log(cancelButtons)
        cancelButtons.forEach(function(cancelButton) {
            cancelButton.addEventListener("click", function(event) {
                event.preventDefault();
                const orderId = cancelButton.getAttribute('data-orderId');
    
                // Send AJAX request to cancel the order
                $.ajax({
                    type: 'POST',
                    url: `/cancel-order/${orderId}/`,
                    data: {"status": 'cancelled'},
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
                    },
                    success: function(response) {
                        console.log(response);
                        window.location.reload();
                        // You can optionally update the UI here if needed
                    },
                    error: function(error) {
                        console.error('Error cancelling order:', error);
                    }
                });
            });
        });
    });

document.addEventListener("click", function (event) {
    var AddAdress = document.querySelector('.add-address');
    var AddAdressContainer = document.querySelector('.add-address-container');
    var EditAdressContainer = document.querySelector('.edit-address-container');
    var EditAdressButton = document.querySelector('.edit-address-button');
    var AdressesContainer = document.querySelector('.addresses');
    var selectedTab = document.querySelector('.tab');

    if (event.target.classList.contains('add-address')) {
        AddAdressContainer.style.display = 'flex';
        AddAdress.style.display = 'none';
        EditAdressContainer.style.display = 'none';
    }
    if (event.target.classList.contains('add-address-button')) {
        AddAdressContainer.style.display = 'none';
        AddAdress.style.display = 'flex';
        EditAdressContainer.style.display = 'none';
    }
    if (event.target.classList.contains('edit-address-button')) {
        AddAdressContainer.style.display = 'none';
        AddAdress.style.display = 'none';
        EditAdressContainer.style.display = 'flex';
    }

    if (event.target.classList.contains('tab')) {
        AddAdressContainer.style.display = 'none';
        EditAdressContainer.style.display = 'none';
        AddAdress.style.display = 'flex';
    }
});





    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
    </script>
{% endblock scripts %}