{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/register.css" %}">
    <title>Game Zone - Register</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock head %}


{% block main %}

<section>
    <div class="logo">
        <img src="{% static "assets/logo/logo_white.png" %}" alt="">
    </div>
    <div class="form-box">
        <div class="form-value">
            <form method='POST'>
                <h2>Register</h2>
                <div class="inputbox">
                    <div class="name-fields">
                        <div class="input-field">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ signUpForm.first_name }}
                        </div>
                        <div class="input-field">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ signUpForm.last_name }}
                        </div>
                    </div>
                </div>
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    {{ signUpForm.username }}
                </div>
                <div class="inputboxes">
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        {{ signUpForm.email }}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="phone-portrait-outline"></ion-icon>
                        {{ signUpForm.tel }}
                    </div>
                </div>
                <div class="inputboxes">
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ signUpForm.password1 }}
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ signUpForm.password2 }}
                    </div>
                </div>
                <button id="signupSubmit">Register</button>
                <div class="login">
                    <p>Already have an account? <a href="{% url "login" %}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
    <script src="{% static "js/register.js" %}"></script>
{% endblock scripts %}