{% load static %}

<link rel="stylesheet" href="{% static "styles/components/featuredGamesCategorys.css" %}">

<div class="main__featuredGamesCategorys flexCenter">


    <div class="featuredGamesCategorys__div flexCenter">

        <a href="#" class="featuredGamesCategorys__game flexCenter">
            <img src="{{featured_genres.genre_1.image.url}}" alt="">
        </a>
        <a href="#" class="featuredGamesCategorys__game flexCenter">
            <img src="{{featured_genres.genre_2.image.url}}" alt="">
        </a>

    </div>

</div>