{% load static %}

<link rel="stylesheet" href="{% static 'styles/components/featured.css' %}">
<script type="text/javascript" src="{% static 'js/components/vanilla-tilt.js' %}"></script>


<section class="main__featured" id="featured">
    <!-- cards -->
    <div class="featured__cards">
        <div class="featured__card unselectable">
            <img src="{% static 'assets/brandbook/Brandbook Logo GameZONE-03.png' %}" alt="" width="350" height="450">
            <div class="featured__content center">
                <h2 class="featured__logo nowrap">LOGO</h2>
                <h3 class="featured__h3">bo bakere</h3>
                <!-- <p class="featured__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt culpa maxime consequatur reiciendis accusamus voluptas repudiandae provident autem aliquid nemo.</p> -->
                <a href="#" class="featured__a">Read More</a>
            </div>
        </div>

        <div class="featured__card unselectable">
            <img src="{% static 'assets/brandbook/Brandbook Logo GameZONE-03.png' %}" alt="" width="350" height="450">
            <div class="featured__content center">
                <h2 class="featured__logo nowrap">LOGO</h2>
                <h3 class="featured__h3">mohsen</h3>
                <!-- <p class="featured__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt culpa maxime consequatur reiciendis accusamus voluptas repudiandae provident autem aliquid nemo.</p> -->
                <a href="#" class="featured__a">Read More</a>
            </div>
        </div>

        <div class="featured__card unselectable">
            <img src="{% static 'assets/brandbook/Brandbook Logo GameZONE-03.png' %}" alt="" width="350" height="450">
            <div class="featured__content center">
                <h2 class="featured__logo nowrap">LOGO</h2>
                <h3 class="featured__h3">abdallah</h3>
                <!-- <p class="featured__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt culpa maxime consequatur reiciendis accusamus voluptas repudiandae provident autem aliquid nemo.</p> -->
                <a href="#" class="featured__a">Read More</a>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/components/featured.js' %}"></script>