{% load static %}

<link rel="stylesheet" href="{% static "styles/components/footer.css" %}">

<div class="footer flexCenter">

    <div class="footer__div flexCenter">

        <div class="footer__column footer__column1 flexCenter">
            
            <div class="column__title">GET HELP</div>

            <div class="column__links flexCenter">

                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>

            </div>

        </div>

        <div class="footer__column footer__column2 flexCenter">
            
            <div class="column__title">LEGAL & PRIVACY</div>

            <div class="column__links flexCenter">

                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>

            </div>

        </div>

        <div class="footer__column footer__column3 flexCenter">
            
            <div class="column__title">ABOUT US</div>

            <div class="column__links flexCenter">

                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>
                <div class="links__link">Element here</div>

            </div>

        </div>

        <div class="footer__column footer__column4 flexCenter">
            
            <div class="column__title">Sign Up</div>

            <div class="column__singup flexCenter">

                <div class="signup__text">Get Exclusive Promotions, Coupons, and the Latest Events
                </div>

                <div class="signup__input flexCenter">

                    <div class="input__input">

                        <input name="email" type="email">

                    </div>
                    <div class="input__button flexCenter">Join</div>

                </div>

            </div>

            <div class="column__socials flexCenter">

                <div class="socials__text">foolow us</div>

                <div class="socials__icons flexCenter">

                    <div class="icons__icon"><i class="fa-brands fa-facebook"></i></div>
                    <div class="icons__icon"><i class="fa-brands fa-twitter"></i></div>
                    <div class="icons__icon"><i class="fa-brands fa-youtube"></i></div>
                    <div class="icons__icon"><i class="fa-brands fa-instagram"></i></div>


                </div>

            </div>

        </div>


    </div>
    <div class="footer__bottom flexCenter">
        <div class="bottom__text">© 2024 Game Zone. All rights reserved</div>
    </div>

</div>