{% load static %}

<link rel="stylesheet" href="{% static "styles/components/gamesCatalog.css" %}">

<div class="main__gamesCatalog flexCenter">
    <div class="gamesCatalog__div flexCenter">
        <div class="gamesCatalog__text">
            Shop Top Games
        </div>
        
        <div class="gamesCatalog__items flexCenter">
            {% for game in top_games %}
            <a href="">
                <div class="gamesCatalog__item flexCenter">
                    <div class="item__div flexCenter">
                        <div class="item__img flexCenter">
                            <img src="{{ game.image.url }}" alt="{{ game.title }}">
                        </div>
                        <div class="item__info flexCenter">
                            <div class="info__price">{{ game.price }}<span>DT</span></div>
                            <div class="info__title">{{ game.title }}</div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>