{% load static %}

<link rel="stylesheet" href="{% static 'styles/components/hero.css' %}">
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<div class="main__hero">
  <div class="hero__div">
      <div class="hero__slider swiper mySwiper">
          <div class="swiper-wrapper">
              {% for hero in heros %}
              <div class="swiper-slide unselectable">
                  <a href=""><img src="{{ hero.image.url }}" alt="{{ hero.title }}"></a>
              </div>
              {% endfor %}
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
          <div class="autoplay-progress">
              <svg viewBox="0 0 48 48">
                  <circle cx="24" cy="24" r="20"></circle>
              </svg>
              <span></span>
          </div>
      </div>
  </div>
</div>

<script src="{% static "js/components/hero.js" %}"></script>