{% load static %}

<link rel="stylesheet" href="{% static 'styles/components/navigation.css' %}">
<link rel="stylesheet" href="{% static 'styles/base.css' %}">

<div class="header__div">
    <div class="header__navbar">
        <div class="SideMenu">
            <button class="sidemenu_btn">
            <i class="fa-solid fa-bars"></i>
            <span>menu</span>
            </button>
            <div class="sidemenu_wrapper">
                <div class="sidemenu_header">
                    <h3 class="title">Menu</h3>
                    <button class="sidemenu_close">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
                <div class="menu_group">
                    <div class="store_container">
                        <div class="store_details">
                            <span class="address">
                                GameZone, Tunis , Ariana 
                            </span>
                            <span class="time">
                                10:00 - 22:00
                            </span>
                        </div>
                        <div class="store_icon">
                            <i class="fa-solid fa-store"></i>
                        </div>
                    </div>
                    <div class="categories_group">
                        <h2>Categories</h2>
                        <ul class="categories">
                            <li class="category_link" id="playstation-link">
                                <a href="#">Playstation 
                                <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            <li class="category_link" id="nintando-link">
                                <a href="#">Nintando 
                                <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                            <li><a href="#">Xbox</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sidemenu_overlay" id="sidemenu_overlay_playstation">
                <div class="sidemenu_header">
                    <button class="sidemenu_back">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <h3 class="title">Menu</h3>
                    <button class="overlay_close">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
                <h2>Sub Categories</h2>
                <ul class="Sub_categories">
                    <li class="sub_category_link">
                        <a href="#">Sub Category 
                        </a>
                    </li>
                    <li class="sub_category_link">
                        <a href="#">Sub Category  
                        </a>
                    </li>
                    <li class="sub_category_link">
                        <a href="#">Sub Category  
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar__logo flexCenter">
            <a href="{% url "home" %}"><img src="{% static "assets\logo\logo_black.png" %} " alt="" class="logo__img unselectable"></a>
        </div>

        <div class="navbar__search">
            <div class="search__div">

                <div class="search__ico">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
                <div class="search__input">
                    <input type="text" name="search" id="nav_search" placeholder="Search games, consoles & more">
                </div>

            </div>
        </div>

        <div class="navbar__navigation">

            {% if user.is_authenticated == False %}
                <a href="{% url "login" %}">
                    <div class="navigation__sign-in navigation__element">
                        <i class="fa-solid fa-user"></i>

                        <div class="sign-in__text">Sign-in</div>
                    </div>
                </a>
            {% else %}
            <div class="user__signed">
                <div class="navigation__sign-in navigation__element">
                    <i class="fa-solid fa-user"></i>

                    <div class="sign-in__text">{{user.username}}</div>
                </div>
                <!--<div class="profile_menu">
                    <div>
                        <span>Profile</span>
                        <i class="fa-solid fa-user"></i>
                    <div>
                    <div>
                        <span>Log out</span>
                        <i class="fa-solid fa-right-from-bracket"></i>
                    <div>
                </div> -->
            </div>
            <div class="user_sidemenu_wrapper">
                <div class="sidemenu_header">
                    <h3 class="title">Account</h3>
                    <button class="user_sidemenu_close">
                        <i class="fa-solid fa-times"></i>
                    </button>
                </div>
                <div class="menu_group">
                    <div class="user_list_group">
                        <h2>Hi, {{user.username}}</h2>
                        <ul class="user_options">
                            <li class="option_link">
                                <a href="{% url "profile" %}">Account Overview 
                                </a>
                            </li>
                            <li class="option_link">
                                <a href="{% url "profile" %}/orders">Orders 
                                </a>
                            </li>
                            <li class="option_link signout">
                                <a href="{% url "logout" %}">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}

            <a href="{% url "cart" %}">
                <div class="navigation__cart navigation__element">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="cart__text">0.000</div>
                </div>
            </a>

        </div>

    </div>

    <div class="header__categories">
        <div class="categories__div">
            <div class="categories__div">
                {% for category in categories %}
                <div class="category__div">
                    <a href="#">{{ category.name }}</a>
                    <div class="sub-menu">
                        <span class="sort-by-up-arrow"></span>
                        {% for subcategory in category.subcategory_set.all %}
                            {% if subcategory.parent_subcategory is None %}
                                <div class="subcategory__div">
                                    <a href="#">{{ subcategory.name }}
                                        {% if subcategory.children.all %}
                                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                                         {% endif %}
                                        </a>
                                    {% if subcategory.children.all %}
                                        <div class="sub-sub-menu">
                                            {% for sub_subcategory in subcategory.children.all %}
                                                <a href="#">{{ sub_subcategory.name }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

</div>

<script src="{% static "js\components\navigation.js" %}"></script>