{% load static %}

<link rel="stylesheet" href="{% static "styles\components\pre-owned-deals.css" %}">

<div class="main__pre-owned-deals flexCenter">

    <div class="pre-owned-deals__div flexCenter">

        <div class="pre-owned-deals__layer1 pre-owned-deals__layer">
            <div class="layer1__text">

                <div class="text__title">Pre-owned-deals Deals</div>
                <div class="text__slogan">
                    Save big on stuff you love
                </div>

            </div>

        </div>
        <div class="pre-owned-deals__layer2 pre-owned-deals__layer">

           <!-- <div class="layer2__cards flexCenter">


                <a href="product/{{pre_owned_deals.deal_2.product.id}}">
                    <div class="cards__card">

                        <div class="card__upper flexCenter">{{pre_owned_deals.deal_1.product.title}}</div>
    
                        <div class="card__lower flexCenter">
    
                            <div class="lower__div">
    
                                <div class="lower__img flexCenter">
                                    <img src="{{pre_owned_deals.deal_1.image.url}}" alt="">
                                </div>
                                <div class="lower__content flexCenter">
    
                                    <div class="content__price">{{pre_owned_deals.deal_1.product.price}}TND</div>
                                    <div class="content__text">{{pre_owned_deals.deal_1.description}}</div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>

                <a href="product/{{pre_owned_deals.deal_2.product.id}}">

                    <div class="cards__card">
    
                        <div class="card__upper flexCenter">{{pre_owned_deals.deal_2.product.title}}</div>
    
                        <div class="card__lower flexCenter">
    
                            <div class="lower__div">
    
                                <div class="lower__img flexCenter">
                                    <img src="{{pre_owned_deals.deal_2.image.url}}" alt="">
                                </div>
                                <div class="lower__content flexCenter">
    
                                    <div class="content__price">{{pre_owned_deals.deal_2.product.price}}TND</div>
                                    <div class="content__text">{{pre_owned_deals.deal_2.description}}</div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>




            </div> -->


            <div class="layer2__cards flexCenter">


                <a href="product/{{pre_owned_deals.deal_2.product.id}}">
                    <div class="cards__card">

                        <div class="card__upper flexCenter">{{pre_owned_deals.deal_1.product.title}}</div>
    
                        <div class="card__lower flexCenter">
    
                            <div class="lower__div">
    
                                <div class="lower__img flexCenter">
                                    <img src="{{pre_owned_deals.deal_1.image.url}}" alt="">
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>

                <a href="product/{{pre_owned_deals.deal_2.product.id}}">

                    <div class="cards__card">
    
                        <div class="card__upper flexCenter">{{pre_owned_deals.deal_2.product.title}}</div>
    
                        <div class="card__lower flexCenter">
    
                            <div class="lower__div">
    
                                <div class="lower__img flexCenter">
                                    <img src="{{pre_owned_deals.deal_2.image.url}}" alt="">
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>




            </div>

        </div>
        <div class="pre-owned-deals__layer3 pre-owned-deals__layer">

            <a href="#" class="layer__CTA">

                <div class="layerCTA__div flexCenter">

                    <div class="layerCTA__img">
                        <img src="{{pre_owned_deals.banner.url}}" alt="">
                    </div>

                </div>

            </a>

        </div>

    </div>

</div>